* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    .wrapper {
        height: min-content;
        background-image: url(/img/dimma.jpg);
        background-size: cover;
        position: relative;
        min-height: 100vh;
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            padding-bottom: 3rem;
            
            aside {
                background-color: #D9D9D9;
                height: min-content;
                width: 15rem;

                h2 {
                    text-align: center;
                    font-family:$mainFont;
                    font-size: $mainFontSize;
                    padding: 1rem;
                 }
                 p {
                    padding: 0.9rem;
                    font-size: 0.9rem;
                    font-family: $startFont;
                 }
                 .quote {
                    padding: 0.5rem;
                    font-size: 1.2rem;
                    font-family: $mainFont;
                    font-style: italic;
                 }
            
            }
            .cardContainer {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                flex: wrap;
                height: min-content;
                width: max-content;
            }
            .card {
                width: 15rem;
                height: 20rem;
                background-color: #D9D9D9;
                display: flex;
                flex-direction: column;
                align-items: center;
                }

            .imgContainer {
                height: 20rem;
                width: 15rem;
                overflow: hidden;
            }
            .card-img-top {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
           
            h3, h4, p {
                margin: 0.3rem;
            }

            h4 {
                color: #575555;
            }
            .contact {
                font-weight: bold;
            }

            @include desktop {

                    height:100vh;
                    width: 100%;
                    flex-direction: row;
                    gap: 0.5rem;
                
                h2 {
                    font-size: 5rem;
                }
                aside {
                    background-color: #D9D9D9;
                    height: min-content;
                    width: 40%;
                    margin-left: 7rem;
                    margin-bottom: 7rem;
                    border-radius: 1rem;
                }
                .cardContainer {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}