* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    .wrapper {
        height: 100vh;
        background-image: url(/img/dimma.jpg);
        background-size: cover;
        main {
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                color:$startColor;
                font-size: 2.5rem;
                font-family: $startFont;
            }
        }
    }
}




