footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-links, .copyright {
        font-family: $mainFont;
        font-size: 0.8rem;
        font-weight: bold;
    }
    .footer-links {
        padding-bottom: 0.3rem;
    }

    a {
        color: $mainColor;
        text-decoration: none;
        margin: 10px;

        &:visited {
            color: $mainColor;
            text-decoration: none;
            }
    }

    @include desktop {
        a {
            text-decoration: none;
            color: $mainColor;
            font-weight: bold;
            &:visited {
                color: $mainColor;
                text-decoration: none;
                }
            &:hover {
                transform: scale(1.2)
            }

            }
    }


    .perfume, .facebook, .instagram {
        @include hide;
        // @include show;
        height: 40px;
        width: 40px;
    }

  }

// .main-footer {
//     display: inline-block;
// }

// footer {
    // @include hide;
    // @include show-footer;

@include desktop {
    footer {
        padding: 10px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .footer-links {
            display: flex;
            order: 1;
        
        }

        .copyright {
            display: flex;
            order: -1;
            align-items: center;
        
        }

        .social-media {
            display: flex;
            order: 2;
            gap: 2px;

        }
    }
}