header {
    width: 100%;
    display: flex;
    padding: 10px;


    h1 {
        width: 100%;
        font-family: $mainFont;
        font-size: $mainFontSize;
       }
       
        .material-symbols-outlined {
         margin: 8px;
         }
   
    .icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;


    @include desktop {
        .menu {
            display: none;
            }
        }
    }

    @include desktop {
        .active {
            text-decoration: underline;
           }

            a {
             text-decoration: none;
             color: $mainColor;
             font-weight: bold;
            

                &:visited {
                    color: $mainColor;
                    text-decoration: none;
                    }
                &:hover {
                    transform: scale(1.2)
                }
             
    }
}


nav {
    @include hide;
    @include show;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


    a {
        margin: 10px;
        padding: 3px;
        font-family: $mainFont;
        font-size: 1rem;
        font-weight: bold;
        color: $mainColor;
        text-decoration: none;
    }
}
}