@mixin frame($height, $width, $background-color, $opacity) {
    height: $height;
    width: $width;
    background-color: $background-color;
    opacity: $opacity;
}

@mixin desktop () {
    @media(min-width: 800px) {
        @content;
    }
}

@mixin hide () {
    @media(max-width: 799px) {
        display: none;
    }
}

@mixin show () {
    @media(min-width: 800px) {
        // display: block;
    }
}

@mixin placeholder-input () {
    &::placeholder {
        color: $mainColor;
        font-weight: bold;
        text-align: left;
    }
}

@mixin placeholder-textarea () {
    &::placeholder {
        color: $mainColor;
        font-weight: bold;
        text-align: center;
        padding-top: 5px;
    }
}

@mixin button-style {
    background-color: $mainColor;
    color: $startColor;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

@mixin hide-hamburger () {
    display: none;
}