@mixin frame($height, $width, $background-color, $opacity) {
    height: $height;
    width: $width;
    background-color: $background-color;
    opacity: $opacity;
}

@mixin desktop () {
    @media(min-width: 800px) {
        @content;
    }
}

@mixin hide () {
    @media(max-width: 799px) {
        display: none;
    }
}

@mixin show () {
    @media(min-width: 800px) {
        display: block;
    }
}