* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    .wrapper {
        position: relative;
        min-height: 100vh;
        background-image: url(../img/dimma3.png);
        background-position: center;
        background-size: cover;
        }


        h2 {
        padding: 1rem;
        text-align: center;
        font-family: $mainFont;
        font-size: 2.2rem;;
        letter-spacing: 3px;
        }
        main {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 5rem;

            .cardContainer {
                height: min-content;
                width: max-content;
                border-radius: 0.5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                opacity: 0.9;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
            .card {

                width: 20rem;
                height: 10rem;
                padding: 1rem;
                background-color: white;
                border-radius: 0.5rem;
                box-shadow: 5px 5px 10px grey;

            }
             h3 {
                font-size: 1rem;
            }
            h3, p {
                font-family: $startFont;
            }
            h3, span, p {
                padding: 0.2rem;
                // font-family: $startFont;
            }
            .checked {
                color: #e6d114;
            }
            .cardtop {
                display: flex;
                justify-content: space-between;
            }

            p {
                font-size: 0.8rem;
                margin-top: 1rem;
            }

            @include desktop {
                .cardContainer {
                    height: min-content;
                    width: 90%;
                    flex-direction: row;
                    justify-content: space-evenly;
                    // justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    .card {
                        width: 25rem;
                    }
                }
            }
        }
    }





