* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}
body .wrapper {
  height: 100vh;
  background-image: url(./img/dimma.jpg);
  background-position: center;
  background-size: cover;
}
body .wrapper main {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .wrapper main h2 {
  color: white;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}
body .wrapper main .cta-button {
  background-color: #1E1E1E;
  color: white;
  border: 2px solid white;
  padding: 15px 50px;
  margin: 10px;
  margin-top: 4.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
@media (min-width: 800px) {
  body .wrapper main h2 {
    font-size: 5rem;
  }
  body .wrapper main .cta-button {
    background: none;
    margin-top: 1.2rem;
    cursor: pointer;
  }
  body .wrapper main .cta-button:hover {
    background-color: #1E1E1E;
    transform: scale(1.1);
  }
}

header {
  width: 100%;
  display: flex;
  padding: 10px;
}
header h1 {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
}
header .material-symbols-outlined {
  margin: 8px;
}
header .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header .active {
  text-decoration: underline;
}
header a {
  text-decoration: none;
  color: #1E1E1E;
  font-weight: bold;
}
header a:visited {
  color: #1E1E1E;
  text-decoration: none;
}
@media (min-width: 800px) {
  header .menu {
    display: none;
  }
}
@media (min-width: 800px) {
  header .active {
    text-decoration: underline;
  }
  header a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
  }
  header a:visited {
    color: #1E1E1E;
    text-decoration: none;
  }
  header a:hover {
    transform: scale(1.2);
  }
  header .material-symbols-outlined:not(.menu) {
    font-size: 2.5rem;
  }
  header .material-symbols-outlined:not(.menu):hover {
    transform: scale(1.2);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 799px) {
  nav {
    display: none;
  }
}
nav a {
  margin: 10px;
  padding: 3px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #1E1E1E;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-links, footer .copyright {
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
footer a {
  color: #1E1E1E;
  text-decoration: none;
  margin: 10px;
}
footer a:visited {
  color: #1E1E1E;
  text-decoration: none;
}
@media (min-width: 800px) {
  footer a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
  }
  footer a:visited {
    color: #1E1E1E;
    text-decoration: none;
  }
  footer a:hover {
    transform: scale(1.2);
  }
}
footer .perfume, footer .facebook, footer .instagram {
  height: 40px;
  width: 40px;
}
@media (max-width: 799px) {
  footer .perfume, footer .facebook, footer .instagram {
    display: none;
  }
}

@media (min-width: 800px) {
  footer {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  footer .footer-links {
    display: flex;
    order: 1;
  }
  footer .copyright {
    display: flex;
    order: -1;
    align-items: center;
  }
  footer .social-media {
    display: flex;
    order: 2;
    gap: 2px;
  }
}/*# sourceMappingURL=style.css.map */