* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(/img/dimma.jpg);
    background-size: cover;
}

header {
    display: flex;
    padding: 10px;
  }

.material-symbols-outlined {
  background-color: purple;
}

h1 {
  width: 50%;
}

.icons {
  width: 50%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}