* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}
body .wrapper {
  position: relative;
  min-height: 100vh;
  background-image: url(../img/dimma3.png);
  background-position: center;
  background-size: cover;
}
body h2 {
  padding: 1rem;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 3px;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
body main .cardContainer {
  height: -moz-min-content;
  height: min-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  opacity: 0.9;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
body main .card {
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px grey;
}
body main h3 {
  font-size: 1rem;
}
body main h3, body main p {
  font-family: "Inter", sans-serif;
}
body main h3, body main span, body main p {
  font-family: "Inter", sans-serif;
}
body main .checked {
  color: #e6d114;
}
body main .alias {
  font-size: 0.8rem;
  margin-top: 0;
  color: #1E1E1E;
}
body main .cardtop {
  display: flex;
  justify-content: space-between;
}
body main p {
  font-size: 0.8rem;
  margin-top: 2rem;
}
@media (min-width: 800px) {
  body main .cardContainer {
    height: -moz-min-content;
    height: min-content;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  body main .cardContainer .card {
    width: 25rem;
  }
}

header {
  width: 100%;
  display: flex;
  padding: 10px;
}
header h1 {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
}
header .material-symbols-outlined {
  margin: 8px;
}
header .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header .active {
  text-decoration: underline;
}
header a {
  text-decoration: none;
  color: #1E1E1E;
  font-weight: bold;
}
header a:visited {
  color: #1E1E1E;
  text-decoration: none;
}
@media (min-width: 800px) {
  header .menu {
    display: none;
  }
}
@media (min-width: 800px) {
  header .active {
    text-decoration: underline;
  }
  header a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
  }
  header a:visited {
    color: #1E1E1E;
    text-decoration: none;
  }
  header a:hover {
    transform: scale(1.2);
  }
  header .material-symbols-outlined:not(.menu) {
    font-size: 2.5rem;
  }
  header .material-symbols-outlined:not(.menu):hover {
    transform: scale(1.2);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 799px) {
  nav {
    display: none;
  }
}
nav a {
  margin: 10px;
  padding: 3px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #1E1E1E;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-links, footer .copyright {
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
footer a {
  color: #1E1E1E;
  text-decoration: none;
  margin: 10px;
}
footer a:visited {
  color: #1E1E1E;
  text-decoration: none;
}
@media (min-width: 800px) {
  footer a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
  }
  footer a:visited {
    color: #1E1E1E;
    text-decoration: none;
  }
  footer a:hover {
    transform: scale(1.2);
  }
}
footer .perfume, footer .facebook, footer .instagram {
  height: 40px;
  width: 40px;
}
@media (max-width: 799px) {
  footer .perfume, footer .facebook, footer .instagram {
    display: none;
  }
}

@media (min-width: 800px) {
  footer {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  footer .footer-links {
    display: flex;
    order: 1;
  }
  footer .copyright {
    display: flex;
    order: -1;
    align-items: center;
  }
  footer .social-media {
    display: flex;
    order: 2;
    gap: 10px;
  }
}/*# sourceMappingURL=reviews.css.map */