* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}
body .wrapper {
  position: relative;
}
body .wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../img/dimma.jpg);
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
}
body main aside {
  background-color: #D9D9D9;
  height: -moz-min-content;
  height: min-content;
  width: 15rem;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body main aside h2 {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 3px;
}
body main aside p {
  padding: 0.9rem;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
}
body main aside .quote {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
  font-style: italic;
}
body main .cardContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: wrap;
  height: -moz-min-content;
  height: min-content;
  width: -moz-max-content;
  width: max-content;
}
body main .card {
  width: 15rem;
  height: 20rem;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 10px grey;
}
body main .imgContainer {
  height: 20rem;
  width: 15rem;
  overflow: hidden;
}
body main .card-img-top {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main h3, body main h4, body main p {
  margin: 0.3rem;
}
body main h4 {
  color: #575555;
}
body main .contact {
  font-weight: bold;
}
@media (min-width: 800px) {
  body main {
    height: 100vh;
    width: 100%;
    flex-direction: row;
    gap: 0.5rem;
  }
  body main h2 {
    font-size: 5rem;
  }
  body main aside {
    background-color: #D9D9D9;
    height: 80%;
    width: auto;
    max-width: 20%;
    margin-left: 7rem;
    margin-bottom: 7rem;
    border-radius: 1rem;
  }
  body main .cardContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

header {
  width: 100%;
  display: flex;
  padding: 10px;
}
header h1 {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
}
header .material-symbols-outlined {
  margin: 8px;
}
header .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
header .active {
  text-decoration: underline;
}
header a {
  text-decoration: none;
  color: #1E1E1E;
  font-weight: bold;
}
header a:visited {
  color: #1E1E1E;
  text-decoration: none;
}
@media (min-width: 800px) {
  header .menu {
    display: none;
  }
}
@media (min-width: 800px) {
  header .active {
    text-decoration: underline;
  }
  header a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
  }
  header a:visited {
    color: #1E1E1E;
    text-decoration: none;
  }
  header a:hover {
    transform: scale(1.2);
  }
  header .material-symbols-outlined:not(.menu) {
    font-size: 2.5rem;
  }
  header .material-symbols-outlined:not(.menu):hover {
    transform: scale(1.2);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 799px) {
  nav {
    display: none;
  }
}
nav a {
  margin: 10px;
  padding: 3px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #1E1E1E;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-links, footer .copyright {
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
footer a {
  color: #1E1E1E;
  text-decoration: none;
  margin: 10px;
}
footer a:visited {
  color: #1E1E1E;
  text-decoration: none;
}
@media (min-width: 800px) {
  footer a {
    text-decoration: none;
    color: #1E1E1E;
    font-weight: bold;
  }
  footer a:visited {
    color: #1E1E1E;
    text-decoration: none;
  }
  footer a:hover {
    transform: scale(1.2);
  }
}
footer .perfume, footer .facebook, footer .instagram {
  height: 40px;
  width: 40px;
}
@media (max-width: 799px) {
  footer .perfume, footer .facebook, footer .instagram {
    display: none;
  }
}

@media (min-width: 800px) {
  footer {
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  footer .footer-links {
    display: flex;
    order: 1;
  }
  footer .copyright {
    display: flex;
    order: -1;
    align-items: center;
  }
  footer .social-media {
    display: flex;
    order: 2;
    gap: 10px;
  }
}/*# sourceMappingURL=about.css.map */